{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Manage Posts{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for post in posts %}
<article class="post">
  <header>
    <div>
      <h1>{{ post['title'] }}</h1>
      <div class="about">by {{ post['username'] }} on {{ post['created'] }}</div>
    </div>
    <a class="action" href="{{ url_for('manage.update', id=post['id']) }}">Edit</a>
  </header>
  <p class="body">{{ post['body'] }}</p>
  <div>
    <form id="delete-form" action="{{ url_for('manage.delete', id=post['id']) }}" method="post">
      <input class="danger" type="submit" value="Delete">
      <input type="hidden" name="cf-turnstile-response" id="cf-turnstile-delete">
    </form>
  </div>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}