<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock %} - Flaskr</title>

  <link rel="preload" href="{{ url_for('static', filename='style.css') }}" as="style">
  <link rel="preload" href="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit" as="script" crossorigin="anonymous">

  <meta name="cf-turnstile-site-key" content="{{ cf_turnstile_site_key.default }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit" crossorigin="anonymous"></script>
</head>

<body>
  <nav>
    <h1><a href="{{ url_for('index') }}">Flaskr</a></h1>
    <ul>
      {% if g.user %}
      <li><a href="{{ url_for('auth.dashboard') }}">{{ g.user['username'] }}'s Dashboard</a>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </ul>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    <div id="flash-messages">
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
    </div>
    {% block content %}{% endblock %}
  </section>

  <div id="modal-backdrop"></div>

  <div id="modal-content">
    <h2 id="modal-title"></h2>
    <p id="modal-text"></p>
    <div id="cf-container"></div>
    <button id="confirm-action">Confirm</button>
    <button id="cancel-action">Cancel</button>
  </div>
  <script type="module">
    import TurnstileManager from "{{ url_for('static', filename='turnstile.js') }}";
    import { forms } from "{{ url_for('static', filename='forms.js') }}";
    
    document.addEventListener('DOMContentLoaded', () => {
      const turnstileManager = new TurnstileManager(forms);
      turnstileManager.initialize();
    });
  </script>
</body>

</html>